<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spoturf - SPOT YOUR TURF</title>
  </head>
  <body>
    <h1>Team white🤍</h1>
    <ul>
      <h3>
        <q
          style="
            font-variant: small-caps;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
              sans-serif;
            font-weight: 900;
            color: orangered;
          "
          >Documentation</q
        >
        - Kruithiya Ssri A
      </h3>
      <h3>
        <q
          style="
            font-variant: small-caps;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
              sans-serif;
            font-weight: 900;
            color: darkturquoise;
          "
          >UI/UX Designer</q
        >
        - Sivaguru S
      </h3>
      <h3>
        <q
          style="
            font-variant: small-caps;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
              sans-serif;
            font-weight: 900;
            color: royalblue;
          "
          >Frontend Developer</q
        >
        - Varshini M
      </h3>
      <h3>
        <q
          style="
            font-variant: small-caps;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
              sans-serif;
            font-weight: bolder;
            color: chartreuse;
          "
          >Mobile and Backend Developer</q
        >
        - Viswanathan P
      </h3>
      <h3>
        <q
          style="
            font-variant: small-caps;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
              sans-serif;
            font-weight: 900;
            color: red;
          "
          >Testing Engineer</q
        >
        - Thivya Bharathi S
      </h3>
    </ul>
  </body>
</html>
